@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #36304a;
  width: auto;
}
#cssmenu .nav-ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu .nav-ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu .nav-ul .nav-li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right .nav-ul .nav-li {
  float: right;
}
#cssmenu.align-center .nav-ul {
  text-align: center;
}
#cssmenu .nav-ul .nav-li .nav-a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu .nav-ul .nav-li .nav-a:hover {
  color: #333333;
}
#cssmenu .nav-ul .nav-li .nav-a:hover:before {
  width: 100%;
}
#cssmenu .nav-ul .nav-li .nav-a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu .nav-ul .nav-li .nav-a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu .nav-ul .nav-li.last > .nav-a:after,
#cssmenu .nav-ul .nav-li:last-child > .nav-a:after {
  display: none;
}
#cssmenu .nav-ul .nav-li.active .nav-a {
  color: #333333;
}
#cssmenu .nav-ul .nav-li.active .nav-a:before {
  width: 100%;
}
#cssmenu.align-right .nav-li.last > .nav-a:after,
#cssmenu.align-right .nav-li:last-child > .nav-a:after {
  display: block;
}
#cssmenu.align-right .nav-li:first-child .nav-a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu .nav-ul .nav-li {
    float: none;
    display: block;
  }
  #cssmenu .nav-ul .nav-li .nav-a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu .nav-ul .nav-li.last > .nav-a,
  #cssmenu .nav-ul .nav-li:last-child > .nav-a {
    border: 0;
  }
  #cssmenu .nav-ul .nav-li .nav-a:after {
    display: none;
  }
  #cssmenu .nav-ul .nav-li .nav-a:before {
    display: none;
  }
}
